<div class="panel panel-default" id="order-<%= order.id %>">
  <div class="panel-heading">
    payment id: <%= order.id %> 
     <span class="timestamp pull-right">
      bought <%= time_ago_in_words(order.created_at) %> ago.
      </span>
  </div>
  <div class="panel-body">
    <address>
         <strong>
            <%= link_to order.product.name + "  " + order.product.model, order.product %>
          </strong>  
          <br>
         price: <%= order.product.price %><br>
   </address>
    <address>
         <strong>Address: 1355 Market Street, Suite 900</strong><br>
   </address>
    <address>
         <strong>current state: 
         <% # 1 付款成功待发货， 2 发货，运输中 3 确认收货 %>
         <% if order.state == 1 %>
         Wait for delivery
         <% elsif order.state == 2 %>
         in transportation
         <% elsif order.state == 3 %>
         Order completed
         <% end %>
         </strong><br>
   </address>

    <% if isAdmin && order.state == 1 %>
      <%= link_to "Click to delivery the car  ( admin only )", { :action => "change", :controller => "orders", :id => order.id, next_state: 2 }, class: "btn btn-primary" %>
    <% end %>
    <% if order.state == 2 %>
    <%= link_to "Click to confirm receipt of the car", { :action => "change", :controller => "orders", :id => order.id, next_state: 3 }, class: "btn btn-success" %>
    <% end %>

  </div>
</div>


