<% provide(:title, "Create payment") %>
<h1 class="text-center"></h1>

<div class="page-header">
  <h1>Create payment <small>you will buy <%= @product.name %> </small></h1>
</div>

<div class="row">
 <div class="col-md-12">
    <dl class="dl-horizontal">
            <dt>Price</dt>
            <dd><%= @product.price %></dd>
            <dt>body</dt>
            <dd><%= @product.body %></dd>
            <dt>mileage</dt>
            <dd><%= @product.mileage %></dd>
            <dt>engV</dt>
            <dd><%= @product.engV %></dd>
            <dt>engType</dt>
            <dd><%= @product.engType %></dd>
            <dt>registration</dt>
            <dd><%= @product.registration %></dd>
            <dt>year</dt>
            <dd><%= @product.year %></dd>
            <dt>model</dt>
            <dd><%= @product.model %></dd>
            <dt>drive</dt>
            <dd><%= @product.drive %></dd>
    </dl>
 </div>
 <div class="col-md-3">
    <%= form_for(@order) do |f| %>
        <%= hidden_field_tag(:product_id, @product.id) %>
        <%= f.submit "pay!", class: "btn btn-primary btn-lg" %>
    <% end %>
 </div>
</div>
