<% provide(:title, "Index") %>

<div class="page-header">
  <% if isAdmin %>
      <%= link_to "add new product  ( admin only )", new_product_path, class: "pull-right btn btn-primary" %>
  <% end %>

  <% if current_user %>
    <h1>Hello, <%= current_user.name %> <small>welcome to Ireney used car store!</small></h1>
  <% else %>
    <h1>Hello, Guest <small>welcome to Ireney used car store! you can login or sign up</small></h1>
  <% end %>
</div>

<div class="row">
  <div class="col-lg-12">
    <div id="charts" style="width: 100%;height:600px;">
    </div>
    <script type="text/javascript">
        function jump() {
          var val = document.getElementById('search').value;
          location.href = val === '' ? '/' : '/?search=' + val;
        }
        $(function() {
          $('#search').keyup(function(event){  
            if(event.keyCode ==13){  
              jump();
            }  
          }); 
          var myChart = echarts.init(document.getElementById('charts'));
          myChart.showLoading();
          $.get('/products_count').done(function (data) {
              var sort_arr = [], x_hot = [], y_hot = [];
              for(var key in data){
                var val = data[key];
                sort_arr.push({ key: key, val: val});
              }
              var arr = sort_arr.sort(function f(a,b) { return b.val - a.val });
              arr.forEach(function(it) {
                x_hot.push(it.key);
                y_hot.push(it.val);
              });
    var option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow',
                label: {
                    show: true
                }
            }
        },
        toolbox: {
            show: true,
            feature: {
                mark: {show: true},
            }
        },
        calculable: true,
        legend: {
            data: ['amounts'],
            itemGap: 5
        },
        grid: {
            top: '12%',
            left: '1%',
            right: '10%',
            containLabel: true
        },
        xAxis: { data: x_hot },
        yAxis: {},
        dataZoom: [
            {
                show: true,
                start: 0,
                end: 100
            },
            {
                type: 'inside',
                start: 94,
                end: 100
            },
            {
                show: true,
                yAxisIndex: 0,
                filterMode: 'empty',
                width: 30,
                height: '80%',
                showDataShadow: false,
                left: '93%'
            }
        ],
        series: [
            {
                name: 'amout',
                type: 'bar',
                data: y_hot
            },
        ]
    };

              myChart.setOption(option);
              myChart.hideLoading();
          });
        });
    </script>
  </div>
  <div class="col-lg-12">
    <div class="input-group">
      <input id="search" type="text" class="form-control" placeholder="Search for brand, enter to search">
      <span class="input-group-btn">
        <button onclick="jump()" class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->

</div><!-- /.row -->

<table class="table table-hover">
  <thead>
    <th>cars</th>
    <th>year</th>
    <th>mileage</th>
    <th>body</th>
    <th>engType</th>
    <th>price</th>
    <th></th>
    <% if isAdmin %>
    <th>control (  only admin can see )</th>
    <% end %>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td>
        <%= link_to product.name + "  " + product.model, product %>
      </td>
      <td><%= product.year %></td>
      <td><%= product.mileage %></td>
      <td><%= product.body %></td>
      <td><%= product.engType %></td>
      <td style=""><%= product.price %></td>      
      <td><%= link_to "buy now", new_order_path(pid: product.id) %></td>      
      <% if isAdmin %>
        <td>
          <%= link_to "edit", edit_product_path(product) %>
          | <%= link_to("delete", product, method: :delete, data: { confirm: "Are you sure?" }) %>
        </td>      
      <% end %>

    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>