<% provide(:title, @product.name) %>


<div class="page-header">
  <h1>
  Car Detail: <%= @product.name + "  " + @product.model %> 
  <br>
  the price only :  <i> <%= @product.price %> Now!!!</i>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
            <dt>body</dt>
            <dd><%= @product.body %></dd>
            <dt>mileage</dt>
            <dd><%= @product.mileage %></dd>
            <dt>engV</dt>
            <dd><%= @product.engV %></dd>
            <dt>engType</dt>
            <dd><%= @product.engType %></dd>
            <dt>registration</dt>
            <dd><%= @product.registration %></dd>
            <dt>year</dt>
            <dd><%= @product.year %></dd>
            <dt>model</dt>
            <dd><%= @product.model %></dd>
            <dt>drive</dt>
            <dd><%= @product.drive %></dd>
    </dl>
 </div>
  <div class="col-md-3">
      <%= link_to "buy it", new_order_path(pid: @product.id), class: "btn btn-primary btn-lg" %>
      <% if isAdmin %>
        <%= link_to "edit the info", edit_product_path(@product), class: "btn btn-info btn-lg" %>
        <% end %>
   </div>

</div>
  <h1>the map to search the position</h1>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">  
function createMarker(map, point, content) {
  var marker = new google.maps.Marker({
    position: point,
    map: map
  });
  google.maps.event.addListener(marker, "click", function(evt) {
    infowindow.setContent(content + "<br>" + marker.getPosition().toUrlValue(6));
    infowindow.open(map, marker);
  });
  return marker;
}

function initMap() {
  // The location of Uluru
  var uluru = {lat: -25.344, lng: 131.036};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 4, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
</script>
<script src="//maps.google.com/maps/api/js?key=AIzaSyDMzvUhOVsGYyz9APhUueeF8Zi-qwTLRkA&callback=initMap"></script>  
